ul {
  border: 1px solid black;
}
input {
  width: 400px;
  height: 40px;
  font-size: 24px;
}
#limit {
  width: 150px;
}
button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid black;

}
a p {
  display: inline-flex;
}
.thumbs{
  float: right;
  margin-right: 100px;
}